.main-story-card {
  background-color: rgb(12, 43, 87);
}

.main-story-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.main-story-text {
  color: white;
}

.main-story-image {
  width: 200px;
  height: auto;
}

.story-title {
  font-family: Georgia, "Times New Roman", Times, serif;
}
